{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Páginas - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>{{ "Páginas"|trans }}</h1>
    <form name="xvolutions_adminbundle_page" method="post" action="">
        <div id="xvolutions_adminbundle_page"><div>
                <p>{{ "Título"|trans }}</p>
                {{ form_widget( form.title ) }}
            </div>
            <div>
                <p>{{ "URL"|trans }}</p>
                {{ form_widget( form.url ) }}
            </div>
            <div>
                <p>{{ "Texto"|trans }}</p>
                {{ form_widget( form.text ) }}
            </div>
            <br><br>
            <div>
                {{ form_end(form) }}
            </div>
        </div>
    </form>
{% endblock %}