{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Páginas - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>{{ "Páginas"|trans }}</h1>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans }}
        </div>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>{{ "Nome da Página"|trans }}</th>
            <th>{{ "Secção"| trans }}</th>
            <th>{{ "URL"| trans }}</th>
            <th>{{ "Data de criação"| trans }}</th>
            <th>{{ "Opções"|trans }}</th>
        </tr>
        {% if pagesList|length > 0 %}

            {% for page in pagesList %}
                <tr>
                    <td><input type="checkbox" id="{{page.id}}" onclick="SelectForRemoval('{{page.id}}');"></td>
                    <td>{{page.title}}</td>
                    <td>{{page.section}}</td>
                    <td>{{page.url}}</td>
                    <td>{{page.date|date('d/m/Y H:m:s') }}</td>
                    <td><a href="{{path('pages')}}/edit/{{page.id}}" type="submit" class="btn btn-primary btn-xs">{{ "Editar"|trans }}</a> <a href="{{path('pages')}}/remove/{{page.id}}" class="btn btn-danger btn-xs">{{ "Apagar"|trans }}</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" >{{"Não existem páginas definidas"|trans}}</td>
            <tr>
        {% endif %}
    </table>
    <p>
        <a href="{{path('addpages')}}" type="submit" class="btn btn-primary btn-sm">{{ "Criar uma nova página"|trans }}</a> <a href="{{path('pages')}}/removeselected" id="RemoveMany" class="btn btn-danger btn-sm">{{ "Apagar Seleccionadas"|trans }}</a>
    </p> 
{% endblock %}