{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Secções - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>Secções</h1>
    {% if sectionList|length > 0 %}
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Nome da Secção</th>
                <th>Opções</th>
            </tr>
            {% for section in sectionList %}
                <tr>
                    <td><input type="checkbox" value="{{section.id}}"></td>
                    <td>{{section.section}}</td>
                    <td><button type="submit" class="btn btn-primary btn-xs">Editar</button> <button type="reset" class="btn btn-danger btn-xs">Apagar</button></td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <button type="reset" class="btn btn-danger btn-sm">Apagar Seleccionados</button>
        </p> 
    {% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div id="xvolutions_adminbundle_page"><div>
                {{ form_label( form.section ) }}
                {{ form_widget( form.section ) }}
            </div>
            <div>
                {{ form_row(form.submit, { 'label': 'Submit me' }) }}

            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}