{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}{{title|trans}} - Páginas - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}

{% block gravatar %}{{ gravatar }}{% endblock %}

{% block maincontent %}
    <h1>{{ title|trans }}</h1>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans|raw }}
        </div>
    {% endif %}

    {{ form_start( form ) }}
    <div id="xvolutions_adminbundle_page"><div>
            <p>{{ "Título"|trans }}</p>
            <p>{{ form_widget( form.title ) }}</p>
        </div>
        <div>
            <p>{{ "URL"|trans }}</p>
            <p>{{ form_widget( form.url ) }}
        </div>
        <div>
            <p>{{ "Texto"|trans }}</p>
            <p>{{ form_widget( form.text ) }}</p>
        </div>
        <div>
            <p>{{ "Ídioma"|trans }}</p>
            <p>{{ form_widget( form.id_language ) }}</p>
        </div>
        <div>
            <p>{{ "Secção"|trans }}</p>
            <p>{{ form_widget( form.id_section ) }}</p>
        </div>
        <div>
            <p>{{ "Página Superior"|trans }}</p>
            <p>{{ form_widget( form.id_parent ) }}</p>
        </div>
        <br>
            {{ form_end( form ) }}
            <a href="{{path('pages')}}" class="btn btn-default btn-sm">{{ "Ver Páginas"|trans }}</a>
    </div>
</form>
{% endblock %}