{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}{{title|trans}} - Páginas - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>{{ title|trans }}</h1>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans|raw }}
        </div>
    {% endif %}

    {{ form_start( form ) }}
    <div id="xvolutions_adminbundle_page"><div>
            <p>{{ "Título"|trans }}</p>
            <p>{{ form_widget( form.title ) }}</p>
        </div>
        <div>
            <p>{{ "URL"|trans }}</p>
            <p>{{ form_widget( form.url ) }}
        </div>
        <div>
            <p>{{ "Página Superior"|trans }}</p>
            {% if pageList|length > 0 %}
                <p><select name="id_parent">
                    {% for page in pageList %}
                        {% if page.id == form.vars.value.id_parent %}
                            <option value="{{page.id}}" selected>{{page.title}}</option>
                        {% else %}
                            <option value="{{page.id}}">{{page.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select></p>
            {% else %}
                {{ "Não existem páginas definidas"|trans }}
            {% endif %}
        </div>
        <div>
            <p>{{ "Secção"|trans }}</p>
            {% if sectionList|length > 0 %}
                <p><select name="section">
                    {% for section in sectionList %}
                        {% if section.id == form.vars.value.id_section %}
                            <option value="{{section.id}}" selected>{{section.section}}</option>
                        {% else %}
                            <option value="{{section.id}}">{{section.section}}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select></p>
            {% else %}
                {{ "Não existem secções definidas"|trans }}
            {% endif %}
        </div>
        <div>
            <p>{{ "Ídioma"|trans }}</p>
            {% if languageList|length > 0 %}
                <p><select name="id_language">
                    {% for language in languageList %}
                        {% if language.id == form.vars.value.id_language %}
                            <option value="{{language.id}}" selected>{{language.language}}</option>
                        {% else %}
                            <option value="{{language.id}}">{{language.language}}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select></p>
            {% else %}
                {{ "Não existem secções definidas"|trans }}
            {% endif %}
        </div>
        <div>
            <p>{{ "Texto"|trans }}</p>
            {{ form_widget( form.text ) }}
        </div>
        <br><br>
            {{ form_end( form ) }}
            <a href="{{path('pages')}}" class="btn btn-default btn-sm">{{ "Ver Páginas"|trans }}</a>
    </div>
</form>
{% endblock %}