{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Páginas - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}

{% block gravatar %}{{ gravatar }}{% endblock %}

{% block maincontent %}
    <h1>{{ "Páginas"|trans }}</h1>
        <div id="status" class="alert alert-success alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="text"></div>
        </div>
        <div id="error" class="alert alert-danger alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="text-error"></div>
        </div>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans }}
        </div>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>{{ "Nome da Página"|trans }}</th>
            <th>{{ "Secção"| trans }}</th>
            <th>{{ "URL"| trans }}</th>
            <th>{{ "Language"| trans }}</th>
            <th>{{ "Data de criação"| trans }}</th>
            <th>{{ "Opções"|trans }}</th>
        </tr>
        {% if pageList|length > 0 %}
 
            {% for page in pageList %}
                <tr class="tr{{page.id}}">
                    <td><input type="checkbox" id="{{page.id}}" onclick="SelectForRemoval('{{page.id}}');"></td>
                    <td>{{page.title}}</td>
                    <td>{{page.section}}</td>
                    <td>{{page.url}}</td>
                    <td>{{page.language}}</td>
                    <td>{{page.date|date('d/m/Y H:m:s') }}</td>
                    <td>
                        <a href="{{path('editpages', {'id': page.id})}}" type="submit" class="btn btn-primary btn-xs">{{ "Editar"|trans }}</a> 
                        <a class="btn btn-danger btn-xs" name="{{path('pagesoption', {'option': 'remove','id': page.id})}}">{{ "Apagar"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" >{{"Não existem páginas definidas"|trans}}</td>
            <tr>
        {% endif %}
    </table>
    <p>
        <a href="{{path('addpages')}}" type="submit" class="btn btn-primary btn-sm">{{ "Criar uma nova página"|trans }}</a>
        <a class="btn btn-danger btn-sm" name="{{path('pagesoption', {'option': 'removeselected'})}}" id="RemoveMany">{{ "Apagar"|trans }}</a>
    </p> 
{% endblock %}