{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Artigos - Backoffice{% endblock %}

{% block maincontent %}
    <h1>{{ "Artigos"|trans }}</h1>
        <div id="status" class="alert alert-success alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="text"></div>
        </div>
        <div id="error" class="alert alert-danger alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="text-error"></div>
        </div>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans }}
        </div>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>{{ "Artigos"|trans }}</th>
            <th>{{ "Autor"|trans }}</th>
            <th>{{ "Data de Publicação"|trans }}</th>
            <th>{{ "Opções"|trans }}</th>
        </tr>
        {% if blogPostList|length > 0 %}

            {% for blogPost in blogPostList %}
                <tr class="tr{{blogPost.id}}">
                    <td><input type="checkbox" id="{{blogPost.id}}" onclick="SelectForRemoval('{{blogPost.id}}');"></td>
                    <td>{{blogPost.title}}</td>
                    <td>{{blogPost.author}}</td>
                    <td>{{blogPost.date|date('d/m/Y H:m:s')}}</td>
                    <td>
                        <a href="{{path('editblogposts', {'id': blogPost.id})}}" type="submit" class="btn btn-primary btn-xs">{{ "Editar"|trans }}</a> 
                        <a class="btn btn-danger btn-xs" name="{{path('optionblogposts', {'option': 'remove','id': blogPost.id})}}">{{ "Apagar"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" >{{"Não existem artigos definidos"|trans}}</td>
            <tr>
        {% endif %}
    </table>
    <p>
        <a href="{{path('addblogposts')}}" type="submit" class="btn btn-primary btn-sm">{{ "Criar um novo artigo"|trans }}</a>
        <a class="btn btn-danger btn-sm" name="{{path('optionblogposts', {'option': 'removeselected'})}}" id="RemoveMany">{{ "Apagar"|trans }}</a>
    </p> 
{% endblock %}