{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Secções - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>{{ "Secções"|trans }}</h1>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans }}
        </div>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>{{ "Nome da Secção"|trans }}</th>
            <th>{{ "Opções"|trans }}</th>
        </tr>
        {% if sectionList|length > 0 %}
            {% for section in sectionList %}
                <tr class="tr{{section.id}}">
                    <td><input type="checkbox" id="{{section.id}}" onclick="SelectForRemoval('{{section.id}}');"></td>
                    <td>{{section.section}}</td>
                    <td>
                        <a href="{{path('editsections', {'id': section.id})}}" type="submit" class="btn btn-primary btn-xs">{{ "Editar"|trans }}</a> 
                        <a class="btn btn-danger btn-xs" name="{{path('optionsections', {'option': 'remove','id': section.id})}}">{{ "Apagar"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" >{{"Não existem secções definidas"|trans}}</td>
            <tr>
        {% endif %}
    </table>
    <br>
    <p>
        <a href="{{path('addsections')}}" type="submit" class="btn btn-primary btn-sm">{{ "Criar uma nova secção"|trans }}</a> <a href="{{path('optionsections', {'option': 'removeselected'})}}" id="RemoveMany" class="btn btn-danger btn-sm">{{ "Apagar Seleccionadas"|trans }}</a>
    </p> 
{% endblock %}
