{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}{{title|trans}} - Grupos - Backoffice{% endblock %}

{% block maincontent %}
    <h1>{{ title|trans }}</h1>
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ status|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error|trans|raw }}
        </div>
    {% endif %}

    {{ form_start( form ) }}
    <div id="xvolutions_adminbundle_role"><div>
            <p>{{ "Nome do grupo"|trans }}</p>
            <p>{{ form_widget( form.name ) }}</p>
        </div>
        <div>
            <p>{{ "Papel"|trans }}</p>
            <p>{{ form_widget( form.role, {value : 'ROLE_'} ) }}
        </div>
        <br>
            {{ form_end( form ) }}
            <a href="{{path('roles')}}" class="btn btn-default btn-sm">{{ "Ver Grupos"|trans }}</a>
    </div>
</form>
{% endblock %}