{% extends "XvolutionsAdminBundle:template:template.html.twig" %}

{% block title %}Recuperar{% endblock %}

{% block styles %}
    {% stylesheets 
        'bundles/xvolutionsadmin/css/login.css' filter='cssrewrite'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <div class="top-20">
        <div class="col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-md-4 col-sm-6 col-xs-8">
            <div class="login-form">
                <form action="{{ path('recover') }}" method="post">
                    <h2>Consola de Gestão</h2>
                    {% if info %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ info|trans }}
                        </div>
                    {% else %}
                        <br><br>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="_email"  placeholder="E-mail"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary">recuperar</button>
                    <a href="{{path('login')}}" class="btn btn-info">voltar</a>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-2"></div>
    </div>
{% endblock %}